footer{
  align-self: center;
}

.base{
  background-image: url("/res/NeroDaHeroBkground.jpg");
}

.text{
  color: #ffffff;
  background-color: #000000;
}

.navbar{
  position: fixed;
  font-size: 150%; 
  color: #ffffff;
  background-color: #000000;
}
